/*pc css*/
@media screen and (min-width: 600px) {

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Adjust as needed */
}

.item {
  width: 50%; /* Each item takes half of the container's width */
  height: 50vh; /* Each item takes half of the container's height */
  border: 1px solid black;
  box-sizing: content-box;
}
}

/*mobile css*/
@media (max-width: 600px) {
  .item {
    height: 25vh; /* Each item takes one-fourth of the container's height on mobile */
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Adjust as needed */
  }
}