@media screen and (max-width: 768px){
.buttonEffect {
    position: relative;
    display: inline-grid;
  }
  
.buttonEffect:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: white;
    animation: bubble 0.4s ease-out;
}
  

  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 768px){
  .buttonEffect {
    position: relative;
    display: inline-block;
  }
  
.buttonEffect:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: white;
    animation: bubble 0.4s ease-out;
}
  

  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}