.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  }
  
  .footer-text-container {
    display: flex;
    align-items: center;
  }
  
  .textbox {
    margin-right: 10px;
  }