/*mobilecss*/
@media screen and (max-width: 600px) {
  .footer-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px;
}
.footer-discord-name {
  font-size: small;
  display: flex;
  font-weight:bold;
  margin-left: 5px;
}

.footer-follow-talent {
  padding-left: 2px;
  padding-right: 2px;
  font-weight:bold;
  font-size: small;

}

.footer-name-underline{
  text-decoration: underline;
}
  .textbox {
    margin: 2px;
}

  .custom-img {
    width: 20px; 
    height: 20px; /* Maintain aspect ratio */
    border-radius: 50%; /* Round the corners */
    border: 2px solid #ccc; /* Add a border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
    margin-left: 2px;
    margin-right: 2px;
}
}
/*tablet css*/
@media (min-width: 600px)and (max-width:1281px){


.footer-text-container {
    display: flex;
    align-items: center;
    margin: -13px;
    padding: -13px;
}

.footer-text-container:hover {
  animation: rainbow-wave 4s infinite;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 9999;
}
.footer-discord-name {
  display: flex;
  font-weight:bold;
  font-size: medium;
}

.footer-follow-talent {
  padding-left: 30px;
  font-weight:bold;
  font-size: medium;
}

.footer-name-underline{
  text-decoration: underline;
}
  .textbox {
    margin-right: 10px;
}

  .custom-img {
    width: 40px; 
    height: 40px; /* Maintain aspect ratio */
    border-radius: 50%; /* Round the corners */
    border: 2px solid #ccc; /* Add a border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.2s;
}

  .discord:hover .custom-img {
    transform: scale(1.5); /* Increase the size on hover */
    border: 2px solid #9c3af8; /* Add a border */
}

  .youtube:hover .custom-img {
  transform: scale(1.5); /* Increase the size on hover */
  border: 2px solid #9c3af8; /* Add a border */
}
  .x_twitter:hover .custom-img {
    transform: scale(1.5); /* Increase the size on hover */
    border: 2px solid #9c3af8; /* Add a border */
  }

  .facebook:hover .custom-img {
  transform: scale(1.5); /* Increase the size on hover */
  border: 2px solid #9c3af8; /* Add a border */
  }

}

@keyframes rainbow-wave {
  0% { color: red; }
  16.666% { color: orange; }
  33.333% { color: yellow; }
  50% { color: green; }
  66.666% { color: blue; }
  83.333% { color: indigo; }
  100% { color: violet; }
}

/*pc css*/
@media (min-width: 1281px){


  .footer-text-container {
      display: flex;
      align-items: center;
      margin: -13px;
      padding: -13px;
  }
  
  .footer-text-container:hover {
    animation: rainbow-wave 4s infinite;
  }
  
  .footer {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    justify-content: center;
  }
  .footer-discord-name {
    display: flex;
    font-weight:bold;
    font-size: medium;
  }
  
  .footer-follow-talent {
    padding-left: 30px;
    font-weight:bold;
    font-size: medium;
  }
  
  .footer-name-underline{
    text-decoration: underline;
  }
    .textbox {
      margin-right: 10px;
  }
  
    .custom-img {
      width: 40px; 
      height: 40px; /* Maintain aspect ratio */
      border-radius: 50%; /* Round the corners */
      border: 2px solid #ccc; /* Add a border */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
      margin-left: 10px;
      margin-right: 10px;
      transition: transform 0.2s;
  }
  
    .discord:hover .custom-img {
      transform: scale(1.5); /* Increase the size on hover */
      border: 2px solid #9c3af8; /* Add a border */
  }
  
    .youtube:hover .custom-img {
    transform: scale(1.5); /* Increase the size on hover */
    border: 2px solid #9c3af8; /* Add a border */
  }
    .x_twitter:hover .custom-img {
      transform: scale(1.5); /* Increase the size on hover */
      border: 2px solid #9c3af8; /* Add a border */
    }
  
    .facebook:hover .custom-img {
    transform: scale(1.5); /* Increase the size on hover */
    border: 2px solid #9c3af8; /* Add a border */
    }
  
  }
  
  @keyframes rainbow-wave {
    0% { color: red; }
    16.666% { color: orange; }
    33.333% { color: yellow; }
    50% { color: green; }
    66.666% { color: blue; }
    83.333% { color: indigo; }
    100% { color: violet; }
  }



