.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
  
.header-left-side {
    display: flex;
    align-items: center;
}
  
.text-container {
    margin-right: 10px;
}
  
.header-button {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    display: flex;
}