.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
  
.header-left-side {
    display: flex;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding-left: 20;
  }
  
  .header-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white; /* Consider changing the color for better contrast if needed */
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  
.header-button {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    display: flex;
}