/*mobilecss*/
@media screen and (max-width: 768px){

  .menu-open .retract{
    color: aquamarine ;
  }
  .menu-open .header-button {
    visibility: collapse ;
    display: none;
  }
  .menu-open .header-right-side{
    visibility: collapse;
  }

  .header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #8073f5b4;
    transition: top 0.3s;
  }
  
  .retract {
    display: flex;
    visibility: visible;
    justify-content: center;
  }

  .header-left-side {
    display: flex;
    align-items: center;
  }
  
  .text-container {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
  
  .header-title {
    font-size: 20px;
    line-height: 1.3;
    padding: 2%;
  }
  .header-right-side{
    display: flex;
    flex-direction: column;
  }
  
  .header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-button > div {
    margin-bottom: 10px;
  }


@keyframes colorChange {
0%, 100% {
  color: rgb(255, 255, 255); /* Start and end color */
}
50% {
  color: rgba(38, 222, 247, 0.829); /* Mid color */
}
}
@keyframes headerglow {
0%, 100% {
  color: rgba(53, 255, 211, 0.5); /* Initial and final color */
  text-shadow: 0 0 10px rgba(53, 255, 211, 0.5), 0 0 20px rgba(53, 255, 211, 0.5), 0 0 30px rgba(53, 255, 211, 0.5); /* Initial and final shadow */
}
25%, 75% {
  color: rgbargba(255, 215, 0, 0.8); /* Yellow */
  text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.8); /* Yellow */
}
50% {
  color: rgba(38, 222, 247, 0.829); /* Red */
  text-shadow: 0 0 20px rgba(38, 222, 247, 0.829), 0 0 40px rgba(38, 222, 247, 0.829), 0 0 60px rgba(38, 222, 247, 0.829); /* Red */
}
}
}
/*pc css*/
@media (min-width: 768px){

.retract{
  visibility: hidden;

  }
/* Adjustments for header.css */

/* header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.header-left-side, .header-right-side {
  flex: 1;
  text-align: center; /* Center text for visual consistency */
}

.header-center {
  flex: 2; /* Allows the center section to take more space, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-right-side {
    display: flex;
    justify-content: flex-start;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    padding-left: 20;
    margin-left: 20px;
  }
  
  .header-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white; /* Consider changing the color for better contrast if needed */
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    animation: headerglow 20s infinite
    ,colorChange 20s infinite
  }
  .header-right-side {
    display: flex;
    align-items: right;
    justify-content: flex-end;
}
.header-button {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    display: flex;
}


@keyframes colorChange {
0%, 100% {
  color: rgb(255, 255, 255); /* Start and end color */
}
50% {
  color: rgba(38, 222, 247, 0.829); /* Mid color */
}
}
@keyframes headerglow {
0%, 100% {
  color: rgba(53, 255, 211, 0.5); /* Initial and final color */
  text-shadow: 0 0 10px rgba(53, 255, 211, 0.5), 0 0 20px rgba(53, 255, 211, 0.5), 0 0 30px rgba(53, 255, 211, 0.5); /* Initial and final shadow */
}
25%, 75% {
  color: rgbargba(255, 215, 0, 0.8); /* Yellow */
  text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.8); /* Yellow */
}
50% {
  color: rgba(38, 222, 247, 0.829); /* Red */
  text-shadow: 0 0 20px rgba(38, 222, 247, 0.829), 0 0 40px rgba(38, 222, 247, 0.829), 0 0 60px rgba(38, 222, 247, 0.829); /* Red */
}
}
}