/*mobile css*/
@media  screen and (max-width: 600px){
  .header2 {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    background-color: #333;
    color: #fff;
  }
  
  
  .header-left-side2 {
    display: flex;
    align-items: center;
  }
  
  .text-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    padding: '2%';
  }
  
  .header-title2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: rgb(253, 255, 145);
    font-size: 20px;
    font-weight: bold;
  }
  
  
  
  .header-right-side2 {
    display: flex;
    align-items: center;
  }
  
  .header-button2 {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    display: flex;
  }

.flowing-text{
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: rgb(143, 255, 240); /* Consider changing the color for better contrast if needed */
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

}

/*tablet css*/
@media (min-width: 600px)and (max-width:1281px){
  .header2 {
      position: static;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #333;
      color: #fff;
  }
  
    
  .header-left-side2 {
      display: flex;
      align-items: center;
  }
  
  .text-container2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 768px;
      padding: '2%';
      margin-left: 20px;
    }
    
    .header-title2 {
      text-align: center;
      font-family: 'Arial', sans-serif;
      color: rgb(234, 255, 140); /* Consider changing the color for better contrast if needed */
      font-size: 30px;
      font-weight: bold;
      padding-bottom: '2%';
    }
    
  
    .header-right-side2 {
      display: flex;
      align-items: center;
      width: 70%;
  }
    
  .header-button2 {
      margin: 10px;
      text-decoration: none;
      color: #fff;
      display: flex;
  }

.flowing-text{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: rgb(143, 255, 240); /* Consider changing the color for better contrast if needed */
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
}

@keyframes slideLeft {
    0%, 100% {
      transform: translateX(0%);
      color: rgba(255, 255, 255, 0.5); /* Initial and final color */
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5); /* Initial and final shadow */
    }
    50% {
      transform: translateX(-20%);
      color: rgba(38, 222, 247, 0.829); /* Red */
      text-shadow: 0 0 20px rgba(38, 222, 247, 0.829), 0 0 40px rgba(38, 222, 247, 0.829), 0 0 60px rgba(38, 222, 247, 0.829); /* Red */
    }
  }
  
  @keyframes slideRight {
    0%, 100% {
      transform: translateX(0%);
      color: rgba(38, 222, 247, 0.829); /* Red */
      text-shadow: 0 0 20px rgba(38, 222, 247, 0.829), 0 0 40px rgba(38, 222, 247, 0.829), 0 0 60px rgba(38, 222, 247, 0.829); /* Red */
    }
    50% {
      transform: translateX(20%);
      color: hsla(0, 0%, 100%, 0.5); /* Initial and final color */
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5); /* Initial and final shadow */
    }
  }
  
  .animated-text {
    animation: 
                slideLeft 10s linear infinite,
               slideRight 10s linear infinite;
  }

  @keyframes rotateleftAnimation {
    0% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }

  @keyframes rotaterightAnimation {
    0% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }

  .animated-text2 {
    animation: 
    rotateleftAnimation 8s linear infinite,
    rotaterightAnimation 8s linear infinite;
  }
}