/* Container styles */
.recent-wish-container {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    display: flex;
  }

  
  .wish-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 5%;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
  }
  